/* common selectors 1 */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  /* line-height: 0.8; */
}
.container {
  width: 1240px;
  margin: 0 auto;
}
/* common selectors 0 */
/* header selectors 1 */
#header_part {
}
.header_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  margin: 40px;
  width: 430px;
  height: 24px;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: auto;
  justify-content: space-between;
}
.menu a {
  color: black;
  font-size: 16px;
}
.header_icons {
  width: 243px;
  height: 27px;
  display: flex;
  justify-content: space-between;
}
/* header selectors 0 */
/* banner selectors 1 */
#banner_part {
}
/* banner selectors 0 */
