/* common selectors 1 */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
.container {
  width: 1240px;
  margin: 0 auto;
}
/* common selectors 0 */
/* header selectors 1 */
.header-flex {
  display: flex;
  margin: 30px auto;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  width: 185px;
  height: 41px;
}
.menu {
  width: 430px;
  height: 24px;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: auto;
  justify-content: space-between;
}
.menu a {
  color: black;
  font-size: 16px;
}
.header-icons {
  width: 243px;
  height: 27px;
  display: flex;
  justify-content: space-between;
}
/* header selectors 0 */
/* banner selectors 1 */
#banner-section {
  background: url(../image/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* padding-bottom: 199px; */
  /* padding-top: 230px; */
  padding-top: 150px;
  padding-bottom: 116px;
}
.banner-content {
  width: 50%;
  margin-left: auto;
  border-radius: 10px;
  background: #fff3e3;
  padding: 70px 0px 40px 40px;
}
.banner-content h4 {
  font-size: 16px;
  color: #333333;
  font-weight: 600;
  letter-spacing: 3px;
}
.banner-content h1 {
  width: 559px;
  height: 127px;
  font-size: 52px;
  color: #b88e2f;
  font-weight: 700;
  margin-top: 20px;
  line-height: 65px;
  margin-bottom: 20px;
}
.banner-content p {
  width: 546px;
  height: 52px;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  line-height: 24px;
  letter-spacing: 0px;
}
.banner-button {
  margin-top: 60px;
  margin-bottom: 25px;
}
.banner-button a {
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 25px 72px;
  background: #b88e2f;
  text-transform: uppercase;
}
/* banner selectors 0 */
/* range section 1 */
.range-text h2 {
  width: 300px;
  height: 48px;
  font-size: 32px;
  color: #333333;
  font-weight: 700;
  margin: 40px auto 0px auto;
}
.range-text p {
  width: 559px;
  height: 29px;
  font-size: 20px;
  color: #666666;
  font-weight: 400;
  margin: 0px auto 40px auto;
}
.rooms-flex {
  display: flex;
  justify-content: space-around;
}
.rooms {
  height: 480px;
  width: 381px;
  margin-bottom: 85px;
  text-align: center;
  line-height: 70px;
}
/* range section 0 */
